### IntelliJ IDEA ###
out/
/.idea/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
# Project exclude paths
/.gradle/
/build/
/run/logs/2024-05-13-1.log.gz
/run/logs/2024-05-13-2.log.gz
/run/.mixin.out/class/appeng/container/AEBaseContainer.class
/run/.mixin.out/class/appeng/client/gui/AEBaseGui.class
/run/.mixin.out/class/appeng/client/gui/AEBaseMEGui.class
/run/.mixin.out/class/appeng/util/item/AEItemStack.class
/run/config/astralsorcery/aevitas_ore_perk.cfg
/run/config/astralsorcery/amulet_enchantments.cfg
/run/.mixin.out/class/appeng/core/api/ApiClientHelper.class
/run/config/AppliedEnergistics2/AppliedEnergistics2.cfg
/run/config/astralsorcery.cfg
/run/config/avaritia.cfg
/run/config/baubles.cfg
/run/.mixin.out/class/net/minecraft/client/renderer/BlockModelRenderer.class
/run/config/botania.cfg
/run/BotaniaVars.dat
/run/.mixin.out/class/appeng/client/render/cablebus/CableBusBakedModel.class
/run/.mixin.out/class/appeng/tile/networking/CableBusTESR.class
/run/config/codechickenlib.cfg
/run/config/txloader/config.json
/run/.mixin.out/class/appeng/container/implementations/ContainerCondenser.class
/run/.mixin.out/class/appeng/container/implementations/ContainerExpandedProcessingPatternTerm.class
/run/.mixin.out/class/appeng/container/implementations/ContainerInterface.class
/run/.mixin.out/class/appeng/container/implementations/ContainerInterfaceTerminal.class
/run/.mixin.out/class/appeng/container/implementations/ContainerMEMonitorable.class
/run/.mixin.out/class/appeng/container/implementations/ContainerPatternEncoder.class
/run/.mixin.out/class/appeng/container/implementations/ContainerPatternTerm.class
/run/.mixin.out/class/appeng/container/implementations/ContainerUpgradeable.class
/run/.mixin.out/class/appeng/container/implementations/ContainerWirelessPatternTerminal.class
/run/.mixin.out/class/appeng/me/cache/CraftingGridCache.class
/run/crafttweaker.log
/run/.mixin.out/class/net/minecraft/crash/CrashReport.class
/run/config/AppliedEnergistics2/CustomRecipes.cfg
/run/logs/debug.log
/run/logs/debug-1.log.gz
/run/.mixin.out/class/co/neeve/nae2/mixin/ifacep2p/shared/DualityAccessor.class
/run/.mixin.out/class/appeng/helpers/DualityInterface.class
/run/config/AppliedEnergistics2/Facades.cfg
/run/config/astralsorcery/fluid_rarities.cfg
/run/config/forge.cfg
/run/.mixin.out/class/net/minecraftforge/client/model/pipeline/ForgeBlockModelRenderer.class
/run/config/forgeChunkLoading.cfg
/run/GeneralizedSuffixTree-PrefixInfo{default}.dot
/run/GeneralizedSuffixTree-PrefixInfo{mod_name}.dot
/run/GeneralizedSuffixTree-PrefixInfo{tooltip}.dot
/run/.mixin.out/class/appeng/client/gui/implementations/GuiCondenser.class
/run/.mixin.out/class/appeng/client/gui/implementations/GuiExpandedProcessingPatternTerm.class
/run/.mixin.out/class/appeng/client/gui/implementations/GuiInterface.class
/run/.mixin.out/class/appeng/client/gui/implementations/GuiInterfaceTerminal.class
/run/.mixin.out/class/appeng/client/gui/implementations/GuiMEMonitorable.class
/run/.mixin.out/class/appeng/client/gui/implementations/GuiPatternTerm.class
/run/.mixin.out/class/appeng/client/gui/implementations/GuiUpgradeable.class
/run/config/astralsorcery/herdable_animals_blacklist.cfg
/run/.mixin.out/class/mezz/jei/gui/overlay/IngredientGrid.class
/run/config/jei/itemBlacklist.cfg
/run/config/AppliedEnergistics2/items.csv
/run/config/jei/jei.cfg
/run/logs/latest.log
/run/.mixin.out/class/net/minecraftforge/fml/common/LoadController.class
/run/.mixin.out/class/com/llamalad7/mixinextras/sugar/impl/ref/generated/LocalBooleanRefImpl.class
/run/.mixin.out/class/com/llamalad7/mixinextras/sugar/impl/ref/generated/LocalRefImpl.class
/run/natives/lwjgl2/lwjgl.dll
/run/natives/lwjgl2/lwjgl64.dll
/run/config/astralsorcery/mineralis_ritual.cfg
/run/.mixin.out/audit/mixin_implementation_report.csv
/run/.mixin.out/audit/mixin_implementation_report.txt
/run/config/nae2.cfg
/run/natives/lwjgl2/OpenAL32.dll
/run/natives/lwjgl2/OpenAL64.dll
/run/options.txt
/run/.mixin.out/class/appeng/core/sync/packets/PacketJEIRecipe.class
/run/.mixin.out/class/appeng/parts/p2p/PartP2PTunnel.class
/run/config/astralsorcery/perk_void_trash_replacement.cfg
/run/.mixin.out/class/appeng/integration/modules/jei/RecipeTransferHandler.class
/run/.mixin.out/class/net/minecraft/client/renderer/chunk/RenderChunk.class
/run/natives/lwjgl2/SAPIWrapper_x64.dll
/run/natives/lwjgl2/SAPIWrapper_x86.dll
/run/config/jei/searchColors.cfg
/run/config/splash.properties
/run/.mixin.out/class/appeng/client/render/StackSizeRenderer.class
/run/.mixin.out/class/appeng/parts/automation/StackUpgradeInventory.class
/run/config/codechicken/supporters.json
/run/config/codechicken/supporters.marker
/run/config/theoneprobe.cfg
/run/.mixin.out/class/appeng/tile/networking/TileCableBus.class
/run/.mixin.out/class/appeng/tile/networking/TileCableBusTESR.class
/run/.mixin.out/class/appeng/tile/misc/TileCondenser.class
/run/.mixin.out/class/net/minecraft/client/renderer/tileentity/TileEntityRendererDispatcher.class
/run/.mixin.out/class/appeng/tile/storage/TileIOPort.class
/run/config/astralsorcery/treasure_shrine.cfg
/run/.mixin.out/class/appeng/parts/automation/UpgradeInventory$UpgradeInvFilter.class
/run/.mixin.out/class/appeng/parts/automation/UpgradeInventory.class
/run/config/AppliedEnergistics2/VersionChecker.cfg
/run/config/jei/worldSettings.cfg
